[Desktop Entry]
Name=afce
GenericName=afce
Comment=Algorithm Flowchart Editor
Comment[ru]=Редактор блок-схем алгоритмов
Exec=afce
Icon=afce
Terminal=false
Type=Application
Categories=Education;
